@using ElectronDecanat.Code;
@{
    ViewBag.Title = "Преподаватель";
}
<body>
    @Html.ActionLink("Лабораторные", "LabsList")
    <table id="main-table">
        <thead>
            <tr>
                <th>Преподаватель</th>
                <th>Специальность</th>
                <!--<th>Код специальности</th>-->
                <th>Дисциплина</th>
                <th>Курс</th>
                <!--<th>Год_поступления</th>-->
                <th>Группа</th>
                <th>Подгруппа</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count; i++)
                {

                    <tr>
                        <td>@Model[i].teacherName</td>
                        <td>@Model[i].specialityName</td>
                        <!--<td>Model[i].specialityCode</td>-->
                        <td>@Model[i].disciplineName</td>
                        <td>@Model[i].coors</td>
                        <!--<td>Model[i].year</td>-->
                        <td>@Model[i].groupNumber</td>
                        <td>@Model[i].subgroopNumber</td>
                        <td class="clicable" onclick="this.firstChild.click()">@Html.ActionLink("Подробнее", "Labs", new { discipline = Model[i].disciplineName })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
        document.onload = new function () 
        {
            $('#main-table').DataTable(russian_lang);
        }
    </script>
</body>
