@model List<ElectronDecanat.Code.Disciplines>
    @{
        ViewBag.Title = "Disciplines";
    }

    <h2>Disciplines</h2>
<body>
    <table id="main-table">
        <thead>
            <tr>
                <th>Специальность</th>
                <th>Код специальности</th>
                <th>Дисциплина</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].specialityName</td>
                        <td>@Model[i].specialityCode</td>
                        <td>@Model[i].disciplineName</td>
                        <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                            @Html.ActionLink("Редактировать", "EditDiscipline", new { faculty_name = Model[i].facultyName, speciality_name = Model[i].specialityName, speciality_code = Model[i].specialityCode,discipline_name = Model[i].disciplineName })
                        </td>
                        <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                            @Html.ActionLink("Удалить", "DeleteDiscipline", new { faculty_name = Model[i].facultyName, speciality_name = Model[i].specialityName, speciality_code = Model[i].specialityCode, discipline_name = Model[i].disciplineName })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <button class="clicable btn btn-default" onclick="this.getElementsByTagName('a')[0].click()">@Html.ActionLink("Добавить", "AddDiscipline", new {
                                                                                                    faculty_name = ViewBag.faculty_name,
                                                                                                    speciality_name = ViewBag.speciality_name,
                                                                                                    speciality_code = ViewBag.speciality_code 
                                                                                                })</button>
        <br />
        @Html.ActionLink("Назад", "Specialitis", new { faculty_name = ViewBag.faculty_name })
    </div>
    <script type="text/javascript">
        document.onload=new function () {
            $('#main-table').DataTable(russian_lang);
        };
    </script>
</body>
